# backend
DATABASE_URL="postgresql://postgres:123@localhost:5432/mydb?schema=public"


CLIENT_ID_42="u-s4t2ud-7a305faa26bff1810dce815f35a0de78208e0da98c067608a5ba62b07cca213f"
CLIENT_SECRET_42="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"
CALLBACK_URL_42="http://localhost:4000/auth/stategies/42/callback"


CLIENT_ID_GOOGLE="571358523842-a0ngiv1cug62c8uo69s7ri9re1vp1tc9.apps.googleusercontent.com"
CLIENT_SECRET_GOOGLE="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"
CALLBACK_URL_GOOGLE="http://localhost:4000/auth/stategies/google/callback"


CRYPTO_JS_KEY="keDDSSy-SDDSSSD-->SDDSthisSDstSDate.SDseScret"

FRONT_HOST="http://localhost:3000/"
BACK_HOST="http://localhost:4000/"


JWT_SECRET="oXqplJZyBU52tw9sUfyDHIm8Fdl01U6D"


# database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_DB=db